[class^="icon-"],
[class*=" icon-"] {
  display:inline-block;
  background:transparent no-repeat center center;
  vertical-align:bottom;
  padding-right:2px;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  padding-right:2px;
}

/* spoiler page icons */
.display-spoiler-card .icon-bg {
  position:absolute;
  top:30px;
  bottom:0;
  left:0;
  right:0;
  background-size:15%;
  opacity:0.2;
}

/* card stats icons */
.icon-materials:before {
  content:url('/images/icons/material.png');
}
.icon-research:before {
  content:url('/images/icons/research.png');
}
.icon-energy:before {
  content:url('/images/icons/energy.png');
}
.icon-infinite:before {
  content:"\221e";
}
.icon-void:before {
  content:"X";
}
.icon-hq:before {
  content:url('/images/icons/hq.png');
}
.icon-explore:before {
  content:url('/images/icons/explore.png');
}
.icon-battle:before {
  content:url('/images/icons/battle.png');
}
.icon-unique:before {
  content:url('/images/icons/unique.png');
}
.icon-attack:before {
  content:url('/images/icons/attack.png');
}
.icon-hull:before {
  content:url('/images/icons/hull.png');
}
.icon-structure:before {
  content:url('/images/icons/structure.png');
}
.icon-engines:before {
  content:url('/images/icons/engines.png');
}
.icon-fuel-cost:before {
  content:url('/images/icons/fuel_cost.png');
}
.icon-stars:before {
  content:url('/images/icons/stars.png');
}
.icon-tech-slots:before {
  content:url('/images/icons/tech_slots.png');
}

/* faction icons */
.icon-coalition {
  background-image:url('/images/faction_icons/coalition.svg');
}
td .icon-coalition {
  background-size:2em;
  width:2em;
  height:2em;
}
.icon-sylith {
  background-image:url('/images/faction_icons/sylith.svg');
}
td .icon-sylith {
  background-size:2em;
  width:2em;
  height:2em;
}
.btn .icon {
  background-size:contain;
  width:50px;
  height:40px;
}
