[class^="icon-"], [class*=" icon-"] {
  display:inline-block;
  background:transparent no-repeat center center;
  background-size:2em;
  width:2em;
  height:2em;
  vertical-align:middle;
}

/* card stats icons */
.icon-materials {
  background-image:url('../images/icons/material.svg');
}
.icon-research {
  background-image:url('../images/icons/research.svg');
  background-size:34px auto;
}
.icon-energy {
  background-image:url('../images/icons/energy.svg');
  background-size:26px auto;
}

/* faction icons */
.icon-coalition {
  background-image:url('../images/faction_icons/coalition.svg');
}
.icon-sylith {
  background-image:url('../images/faction_icons/sylith.svg');
}
