<!-- Rules -->
<div class="row">
	<div class="col-sm-12" id="rules">
      <h2>Deck Building Guidelines</h2>

      <ul>
        <li>Your Main Deck must have at least as many cards as stated on the Command Center (see table below). There is no current maximum deck size.</li>
        <li>You cannot have more than 3 copies of a card in your Main Deck and Tech Pool combined. For example, if you have 2 Mining Stations in your Main Deck, you can only have 1 more copy in your Tech Pool.</li>
        <li>Your Tech Pool must use all the slots your Commander provides. No more, no less. For example, Uki Mondragon gives you 15 tech slots. You can put up to 3 copies of a card in 1 slot (assuming you haven’t already used 3 copies in your Main Deck). You cannot have multiple copies of a specific card spread throughout multiple Tech Pool slots; they must all go into one slot.</li>
        <li>Tech level 2 and 3 cards can only be placed in your Tech Pool, not your Main Deck. Tech level 1 cards from your faction can be in both your Main Deck and Tech Pool.</li>
      </ul>

      <p>The following table will show all the minimum deck sizes and tech slots each Commander has:</p>

      <p><table width="100%" cellspacing="0" cellpadding="3">
        <thead>
          <tr>
            <th>Commander</th>
            <th>Minimum Deck Size</th>
            <th>Tech Slots</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Uki Mondragon</td>
            <td>24</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Pellin Yurr</td>
            <td>24</td>
            <td>15</td>
          </tr>
        </tbody>
      </table></p>

      <p>After you have completed your deck, press the Download button and download the text file for your deck. Keep in mind where you saved it. Load up the Gala Collider game and start or join a game in the multiplayer lobby. You can then press the Load Deck button and navigate to the text file you downloaded, click it, and press the Select button. It will now show in your deck list in-game ready for use.</p>
	</div><!-- /.col-sm-12 -->
</div><!-- /.row -->
