<!-- Rules -->
<div class="row">
	<div class="col-sm-12" id="rules">
      <h2>Deck Building Guidelines for Alpha 5</h2>

      <ul>
        <li>Your deck must have at least as many cards as stated on the core world (see table below). There is no current maximum deck size.</li>
        <li>You cannot have more than 3 copies of a card in your deck and techpool combined. For example, if you have 2 Mining Stations in your main deck, you can only have 1 more copy in your techpool.</li>
        <li>Your techpool must use all the slots your Commander provides. No more, no less. For example, Kesteron gives you 15 tech slots. You can put up to 3 copies of a card in 1 techpool slot (assuming you haven’t already used 3 copies in your main deck). You cannot have multiple copies of a specific card spread throughout multiple techpool slots; they must all go into one slot.</li>
        <li>Tech level 2 and 3 cards can only be placed in your techpool, not your main deck. Tech level 1 cards from your faction can be in both your main deck and techpool.</li>
      </ul>

      <p>The following table will show all the minimum deck sizes, and tech slots each Commander has:</p>

      <p><table width="100%" cellspacing="0" cellpadding="3">
        <thead>
          <tr>
            <th>Commander</th>
            <th>Minimum Deck Size</th>
            <th>Tech Slots</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Uki Mondragon</td>
            <td>24</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Pellin Yurr</td>
            <td>24</td>
            <td>15</td>
          </tr>
        </tbody>
      </table></p>

      <p>Be sure to make some decks of your using our very own <a href="http://db.galacollider.com/"><u>online deckbuilder</u></a>. You will have to create a username and password to use the deckbuilder. Afterwards, you can create/edit decks, share it with others via the publishing button, and download it as a text file for use with the game.</p>

      <p>You can both find your existing decks and place new ones in the Gala Collider install folder under:</p>

      <p><b>Windows:</b><br>
      GC_A5_042_win_pub_Data &gt; StreamingAssets &gt; CustomDecks</p>

      <p><b>Mac:</b><br>
      Right click on game, select “show package contents”
      Then go to: Contents &gt; Resources &gt; Data &gt; StreamingAssets &gt; CustomDecks</p>
	</div><!-- /.col-sm-12 -->
</div><!-- /.row -->
