{% extends 'AppBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="main white container">

<h1>{{ block('title') }}</h1>

<p>Currently this website lets you look at cards from the demo decks of our game. The next major release of this website will let you build decks. As new cards are revealed they will also appear here.</p>
<p>This website is dedicated to providing a fast, powerful and exhaustive deck builder and search engine for <a href="//galacollider.com">Gala Collider</a>.</p>
<p>This website is optimized for mobile browsing (WebKit).</p>
<p>The Gala Collider Deckbuilder is developed by <a href="//www.justindhoffman.com">Justin Hoffman</a>.</p>

<h3>Credits</h3>

<p>I would like to thank especially:</p>
<ul>
    <li><a href="//twitter.com/alsciende">@alsciende</a> for the base to build upon.</li>
</ul>
</div>
{% endblock %}
